.article {
  background-color: #fff;
  margin: 0px 0px 20px 0px !important;
  overflow:  hidden;
    transition:1s ease all; 
  -moz-transition:0.5s ease all; 
  -webkit-transition:0.5s ease all;
}
.article p {
  padding: 15px;
}