.links ul {
  width: 100%;
  padding: 20px 0px 10px 0px;
  list-style-type: none;
  margin: 0px !important;
  clear: both;
}

.inks li a {
  float: left;
  background-color: #eee;
  width: 96%;
  padding: 10px 2%;
  margin: 0px 0px 10px 0px !important;
  text-decoration: none !important;
  color: #0097d6;
}
.links li a:hover, .links li:hover {
  background-color: #e0e0e0;
}