// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

#pinsent {
    line-height: 1.5;
    font-family: $global-font;
    font-weight: normal;
    font: 200%;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    height: 100%;
    overflow: visable;
    padding: 10px 10px 10px 10px;

    .container, .container-fluid {
        padding: 0px 15px;
    }
}